<div class="repo-details">
  <h1> <%= @repo.name %> </h1>
  <h3> <%= @repo.description %> </h3>

  <h3>Owner details</h3>
  <ul>
    <li> Owner Name: <%= @repo.user.name %> </li>
    <li> Owner Id: <%= @repo.user.uid %> </li>
    <li> Owner Email: <%= @repo.user.email %> </li>
  </ul>
</div>


<div class="container">
  <% @users.each do |user| %>
    <div class="row">
        <%= render 'components/collab_list', collab: user %>
    </div>
   <% end %>
</div>




<button type="button" class="btn btn-success btn-sm">Apply for Collaboration</button>
