<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="single-repo-wrapper">
        <div class="repo-left">
          <div class="small-avatar" style="background-image: linear-gradient(-45deg, rgba(150,150,150,0.3) 0%, rgba(56,53,48,0.3) 33%, rgba(77,72,61,0.3) 51%, rgba(56,53,48,0.3) 93%, rgba(66,63,54,0.3) 100%), url(<%= asset_path('monkey_2.jpg')%>);">
          </div>
        </div>
        <div class="repo-info">
          <div class="repo-name">
            <h3><%= link_to( repo.name, repo_path(repo.id)) %></h3>
          </div>
          <div class="repo-description">
            <p><%= repo.description %></p>
            <% if repo.collaborations.where(accepted: false).length > 0 and repo.user_id == current_user.id %>
              <p>You have pending requests to approve or reject.</p>
            <% end %>
            <% if defined?(collab) %>
              <% if !collab.accepted %>
                <p>Your application is still waiting for acceptance. For now is: <span class="low">Pending</span> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="repo-right">
          <ul>
            <% collabNumber = repo.collaborations.where(accepted: true).length %>
            <% if collabNumber == 0 %>
              <li class='none'><h1><%= collabNumber %></h1></li>
            <% elsif collabNumber > 3 %>
              <li class='good'><h1><%= collabNumber %></h1></li>
            <% else %>
              <li class='low'><h1><%= collabNumber %></h1></li>
            <% end %>
            <li>Collaborations</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
