<div id="first-repo" >
  <div class="first-repo-wraper">
    <div class="form-group">
      <h1>Share your first repository!</h1>
    </div>
    <div>
      <form id="first" action=<%= repos_path %> method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <% @new_repos.each_with_index do |repo, index| %>
          <div class="repo">
            <input type="checkbox" class="form-check-input" name=<%="checkbox_#{index}"%> value='true'>
            <label for="<%= repo.name %>"><%= repo.name %></label>

            <p class="first-input-hiden"> Name:</p><input class="first-input-hiden form-control" type="text" name=<%="name_#{index}"%> value='<%= repo.name %>'><br>

            <p class="first-input-hiden"> Description:</p>

            <textarea class="first-input-hiden first-input-description form-control" name=<%="description_#{index}"%> form_id="first" rows="4" cols="50"><%= repo.description %>
            </textarea><br>
          </div>
        <% end %>

        <button type="submit">Subscribe</button>
      </form>

    </div>
    <div class="new-post-buttons">
      <button type="button" class="btn btn-danger" id="btn-new-post-cancel">Nice!</button>
    </div>
  </div>
</div>
